:root {
  --text-color: #333;
  /* --accent-01: #57B18A; */
  --accent-01: #00844B;
  --accent-02: #FF7347;
  --bg: rgba(0, 99, 29, 0.2);
  --color-light: #c0c2c5;
  --container-width: 1280px;
  --container-padding: 30px;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #F5F7FA;
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

img, svg {
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

button {
  padding: 0;
  display: block;
  border: none;
  background-color: transparent;
  font: inherit;
  color: inherit;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

a, button {
  transition: 0.36s ease;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1.2;
  font-weight: 500;
}

p {
  margin: 0;
}

fieldset, input {
  margin: 0;
  padding: 0;
  border: none;
}

.no-scroll {
  overflow: hidden;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding) * 2);
  padding: 0 var(--container-padding);
  margin: 0 auto;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.h2 {
  font-size: 30px;
}

.title-offset {
  margin-bottom: 20px;
}

.section-offset {
  padding: 30px 0;
}

.accent-01 {
  color: var(--accent-01)
}

.accent-02 {
  color: var(--accent-02);
}

.link:hover, .link:focus-visible {
  outline: none;
  color: var(--accent-02);
}

.btn {
  background: linear-gradient(16deg, #ffc83e 0%, #ff7347 100%);
  border-radius: 10px;
  font-weight: 500;
  color: #fff;
  line-height: 1;
  text-transform: uppercase;
}

.btn:hover, .btn:focus-visible {
  outline: none;
  box-shadow: 0 0 16px rgba(0,0,0,0.2);
}

.fw-medium {
  font-weight: 500;
}

.more-btn {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
}

/* header */
.header {
  position: absolute;
  width: 100%;
  padding: 20px 0;
  z-index: 5;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-img {
  width: 265px;
  height: auto;
}

/* Nav */
.nav__list {
  display: flex;
  align-items: center;
  gap: 70px;
  font-weight: 500;
}

/* Burger */
.burger {
  display: none;
  position: relative;
  width: 30px;
  height: 30px;
  padding: 8px 5px;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
  flex-shrink: 0;
}
.burger__line,
.burger::after,
.burger::before {
  position: absolute;
  left: 5px;
  width: 20px;
  height: 2px;
  border-radius: 8px;
  background-color: var(--accent-02);
}
.burger__line {
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.1s ease;
}
.burger::after,
.burger::before {
  content: '';
  transition: transform 0.3s ease-out, top 0.3s ease-out;
}
.burger::before {
  top: 8px;
}
.burger::after {
  bottom: 6px;
  transform: translateY(-100%);
}
.burger.burger_active .burger__line {
  opacity: 0;
}
.burger.burger_active::before {
  top: calc(50% - 1px);
  transform: rotate(45deg);
}
.burger.burger_active::after {
  top: calc(50% - 1px);
  transform: rotate(-45deg);
}

/* Hero */
.hero {
  position: relative;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--bg);
  overflow: hidden;
}

.hero::before {
  position: absolute;
  content: '';
  display: block;
  width: 353px;
  height: 537px;
  right: 37%;
  bottom: 0;
  background-image: url(./img/hero-img.avif);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-filter:drop-shadow(-22px 8px 66px rgba(12, 73, 35, 0.6) );
   filter:drop-shadow(-22px 8px 66px rgba(12, 73, 35, 0.6) );
  z-index: 2;
  pointer-events: none;
}

.hero__container {
  padding-top: 130px;
  padding-bottom: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.hero__content {
  max-width: 470px;
  width: 100%;
}

.hero__hash {
  position: relative;
  margin-bottom: 20px;
  width: fit-content;
  padding: 13px 20px 10px 70px;
  background-color: #fff;
  border-radius: 10px;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
}

.hero__hash::before {
  content: '';
  position: absolute;
  display: block;
  width: 56px;
  height: 56px;
  background-image: url(./img/fire.svg);
  background-size: contain;
  left: 8px;
  bottom: 10px;
}

.hero__title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 48px;
  line-height: 1.2;
  text-transform: uppercase;
}

.hero__tagline {
  font-size: 27px;
}

.hero__form {
  max-width: 430px;
  flex-shrink: 0;
}

/* Choice */
.choice {
  width: 100%;
  padding: 30px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
  background-color: #fff;
  border-radius: 10px;
}
.choice__fieldset {
  width: 100%;
}

.choice__fieldset + .choice__fieldset {
  margin-top: 30px;
}

.choice__text-wrapper {
  display: flex;
  justify-content: space-between;
}

.choice__text {
  font-size: 20px;
}

.choice__value {
  font-weight: 500;
  font-size: 20px;
}

.choice__number {
  color: var(--color-light);
}

.choice__range {
  margin: 15px 0 10px;
  -webkit-appearance: none;
  -moz-appearance: none; 
  appearance: none;
  width: 100%;
  height: 6px;
  outline: none;
  border-radius: 8px;
  background-color: #ececec;
  cursor: pointer;
}

.choice__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none; 
  height: 15px;
  width: 15px;
  background-color: var(--accent-02);
  border-radius: 50%;
  border: none;
  transition: .2s ease-in-out;
}

.choice__range::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: var(--accent-02);
  border-radius: 50%;
  border: none;
  transition: .2s ease-in-out;
}

.choice__range::-webkit-slider-thumb:hover {
  box-shadow: 0 0 2px 10px rgba(255, 114, 71, .1);
}

.choice__range:active::-webkit-slider-thumb {
  box-shadow: 0 0 2px 10px rgba(255, 114, 71, .2)
}

.choice__range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 2px 10px rgba(255, 114, 71, .2)
}

.choice__range::-moz-range-thumb:hover {
  box-shadow: 0 0 2px 10px rgba(255, 114, 71, .1);
}

.choice__range:active::-moz-range-thumb {
  box-shadow: 0 0 2px 10px rgba(255, 114, 71, .2)
}

.choice__range:focus::-moz-range-thumb {
  box-shadow: 0 0 2px 10px rgba(255, 114, 71, .2)    
}

.choice__result {
  margin: 20px 0;
  padding: 10px 0;
  border-top: 1px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.choice__btn {
  max-width: 230px;
  padding: 15px 70px;
  margin: 0 auto;
}

/* About */
.about {
  padding: 60px 0 30px;
}

.about__text-wrapper {
  max-width: 730px;
}

.about__text-wrapper > * + * {
  margin-top: 10px;
}

/* MFO */
.mfo__title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.mfo__text {
  font-weight: 500;
  font-size: 18px
}

/* Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  gap: 40px;
}

/* Card */
.card {
  display: flow-root;
  position: relative;
  padding: 20px 26px;
  background-color: #fff;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  border: 1px solid transparent;
  background: linear-gradient(#ffc83e 0%, #ff7b00 100%) border-box;
  -webkit-mask: linear-gradient(#ffc83e 0 0) padding-box, linear-gradient(#ff7b00 0 0);
  -webkit-mask: linear-gradient(#ffc83e 0 0) padding-box, linear-gradient(#ff7b00 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.card__logo {
  width: 173px;
  height: auto;
  margin: 0 auto 10px;
}

.card__liz {
  margin-bottom: 10px;
  padding-bottom: 7px;
  border-bottom: 1px solid #F2F2F2;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
}

.card__params {
  margin-bottom: 20px;
}

.card__params-item {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.card__params-text {
  opacity: 0.75;
}

.card__params-value {
  font-weight: 500;
}

.card__btns-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.card__btn {
  flex-grow: 1;
  height: 40px;
  line-height: 42px;
  font-size: 14px;
  text-align: center;
}

.card__btn-info {
  flex-shrink: 0;
  width: 38px;
  height: 38px;
  border-radius: 8px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='38' height='38' viewBox='0 0 38 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect x='0.5' y='0.5' width='37' height='37' rx='7.5' stroke='url(%23paint0_linear_674_13374)' /%3e%3cpath d='M19 29.1539C24.6078 29.1539 29.1539 24.6078 29.1539 19C29.1539 13.3922 24.6078 8.84619 19 8.84619C13.3922 8.84619 8.84619 13.3922 8.84619 19C8.84619 24.6078 13.3922 29.1539 19 29.1539Z' stroke='white' stroke-width='2' stroke-miterlimit='10' /%3e%3cpath d='M19 29.1539C24.6078 29.1539 29.1539 24.6078 29.1539 19C29.1539 13.3922 24.6078 8.84619 19 8.84619C13.3922 8.84619 8.84619 13.3922 8.84619 19C8.84619 24.6078 13.3922 29.1539 19 29.1539Z' stroke='url(%23paint1_linear_674_13374)' stroke-width='2' stroke-miterlimit='10' /%3e%3cpath d='M19.5999 14.5153C19.5999 14.8467 19.3313 15.1153 18.9999 15.1153C18.6685 15.1153 18.3999 14.8467 18.3999 14.5153C18.3999 14.1839 18.6685 13.9153 18.9999 13.9153C19.3313 13.9153 19.5999 14.1839 19.5999 14.5153Z' fill='white' stroke='url(%23paint2_linear_674_13374)' /%3e%3cpath d='M19 24.1692C18.5748 24.1692 18.3154 23.8615 18.3154 23.5692V17.8153C18.3154 17.4992 18.5993 17.2153 18.9154 17.2153H19C19.3162 17.2153 19.6 17.4992 19.6 17.8153V23.5692C19.6 23.9112 19.3757 24.1692 19 24.1692Z' fill='white' stroke='url(%23paint3_linear_674_13374)' /%3e%3cdefs%3e%3clinearGradient id='paint0_linear_674_13374' x1='3.69008' y1='19' x2='24.2196' y2='19.8416' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FF7B00' /%3e%3cstop offset='1' stop-color='%23FEB300' /%3e%3c/linearGradient%3e%3clinearGradient id='paint1_linear_674_13374' x1='10.8182' y1='19' x2='21.7895' y2='19.4498' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FF7B00' /%3e%3cstop offset='1' stop-color='%23FEB300' /%3e%3c/linearGradient%3e%3clinearGradient id='paint2_linear_674_13374' x1='18.1135' y1='14.5153' x2='19.3021' y2='14.564' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FF7B00' /%3e%3cstop offset='1' stop-color='%23FEB300' /%3e%3c/linearGradient%3e%3clinearGradient id='paint3_linear_674_13374' x1='18.0373' y1='20.6923' x2='19.2734' y2='20.7068' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FF7B00' /%3e%3cstop offset='1' stop-color='%23FEB300' /%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.card__btn-info:hover, .card__btn-info:focus-visible {
  box-shadow: 0 0 16px rgba(0,0,0,0.2);
}

/* FAQ */
.faq__accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
}

.faq__item {
  background-color: #fff;
  border-radius: 10px;
  padding: 24px 30px;
  cursor: pointer;
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

.faq__item-title {
  position: relative;
  width: 100%;
  padding: 0 20px 0 0;
  text-align: left;
  font-weight: 500;
}
.faq__item-title::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 16px;
  height: 10px;
  background-image: url(./img/arrow.svg);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
  transition: 0.6s;
}

.faq__item-text-wrapper {
  height: 0;
  overflow: hidden;
  -webkit-transition: height .4s ease-in-out;
  -o-transition: height .4s ease-in-out;
  transition: height .4s ease-in-out;
}

.faq__item.faq__item_active {
  background-color: var(--bg);
}

.faq__item_active .faq__item-text-wrapper {
  position: static;
  height: auto;
}

.faq__item_active .faq__item-title::after {
  transform: translateY(-50%) rotate(180deg);
}

.faq__item-text {
  padding-top: 20px;
  opacity: 0.75;
}

/* Category */
.category {
  padding: 30px 0 60px;
}

.category__lists {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  gap: 50px;
}

.category__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
}

.category__enum {
  opacity: 0.75;
}

.category__enum > * + *{
  margin-top: 10px;
}

/* Footer */
.footer {
  padding: 30px 0;
  background-color: var(--bg);
  font-weight: 300;
}

.footer__info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  margin-bottom: 20px;
  font-weight: 400;
}

.footer__info-text {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__info-icon {
  width: 30px;
  height: 30px;
}

.footer__link {
  white-space: nowrap;
}

.footer__text-wrapper {
  margin-bottom: 20px;
  text-align: center;
}
.footer__text-wrapper > * + * {
  margin-top: 10px;
}

.footer__contacts {
  margin-bottom: 20px;
  padding: 20px 0;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  font-weight: 500;
  text-align: center;
}

.footer__copyright {
  text-align: center;
}

/* Modal */
.modal {
  position: fixed;
  z-index: 999;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  overflow-y: auto;
  cursor: pointer;
  display: none;
}

.modal__main {
  position: relative;
  max-width: 800px;
  background-color: #fff;
  margin: auto;
  border-radius: 16px;
  padding: 30px;
  cursor: default;
}

.modal__title {
  max-width: 95%;
  font-size: 20px;
  margin-bottom: 20px;
}

.modal__container {
  line-height: 1.2;
}

.info-table td {
  padding: 10px;
}

.info-table th {
  padding: 10px 20px 10px 10px;
  font-weight: 500;
  text-align: left;
}

.info-table tr:nth-of-type(odd) {
  background-color: #f0f0f0;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 2px;
  outline: 1px solid transparent;
  outline-offset: 2px;
  font-size: 20px;
  cursor: pointer;
}

.modal__close:hover {
  color: var(--accent-02);
}

.modal__close:focus-visible {
  outline-color: var(--accent-02);
}


/* Адаптив */
@media (max-width: 1680px) {
  .hero::before {
    right: 35%;
  }
}
@media (max-width: 1440px) {
  .hero::before {
    right: 31%;
  }
}
@media (max-width: 1280px) {
  :root {
    --container-width: 962px;
  }
  .h2 {
    font-size: 26px;
  }
  .hero::before {
    width: 280px;
    height: 426px;
    right: 50%;
    transform: translateX(62%);
  }
  .hero__container {
    padding-top: 110px;
    padding-bottom: 24px;
  }
  .hero__content {
    max-width: 390px;
  }
  .hero__hash {
    font-size: 20px;
  }
  .hero__title {
    margin-bottom: 16px;
    font-size: 40px;
  }
  .hero__tagline {
    font-size: 22px;
  }
  .hero__form {
    max-width: 340px;
    flex-shrink: 0;
  }
  .choice__fieldset + .choice__fieldset {
    margin-top: 20px;
  }
  .choice__result {
    margin: 10px 0 20px;
    padding: 5px 0;
  }
  .cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

}

@media (max-width: 991px) {
  :root {
    --container-width: 700px;
  }
  .header__logo-img {
    width: 174px;
  }
  .nav__list {
    gap: 50px;
  }
  .hero::before {
    width: 270px;
    height: 411px;
    right: unset;
    left: 15%;
    transform: none;
  }
  .hero__container {
    padding-top: 90px;
    flex-direction: column;
    align-items: end;
    gap: 40px
  }
  .hero__hash {
    align-self: center;
    margin-bottom: 20px;
    padding: 7px 10px 5px 48px;
    font-size: 14px;
  }
  .hero__hash::before {
    width: 36px;
    height: 36px;
    bottom: 8px;
  }
  .hero__content {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .hero__title {
    margin-bottom: 10px;
    text-align: center;
    font-size: 32px;
  }
  .hero__tagline {
    max-width: 310px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
  }
  .hero__form {
    margin-right: 5%;
  }
  .choice {
    padding: 20px;
  }
  .choice__text,
  .choice__value {
    font-size: 16px;
  }
  .choice__number {
    font-size: 14px;
  }
  .choise__btn {
    max-width: unset;
    padding: 15px 100px;
    font-size: 14px;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .faq__item {
    padding: 16px 20px;
  }
  .faq__item-title::after {
    width: 14px;
    height: 8px;
  }
  .category__lists {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .hero::before {
    left: 6%;
  }
  .about__text-wrapper {
    max-width: 100%;
  }
  .footer__info {
    flex-direction: column;
    align-items: start;
    gap: 12px;
  }
  .footer__info-icon {
    width: 24px;
    height: 24px;
  }
  .footer__text-wrapper,
  .footer__contacts,
  .footer__copyright {
    text-align: left;
  }
}

@media (max-width: 700px) {
  .nav__list {
    gap: 30px;
  }
  .hero::before {
    left: 30px;
  }
  .hero__form {
    margin-right: 20px;
  }
  .mfo__title {
    flex-direction: column;
  }
  .mfo__text {
    margin-top: 10px;
  }
  .category__lists {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 649px) {
  .hero::before {
    display: none;
  }
  .hero__container {
    gap: 20px;
  }
  .hero__form {
    margin: 0 auto;
  }
  .card {
    padding: 10px 20px 20px;
  }
}

@media (max-width: 580px) {
  .burger {
    display: block;
  }
  .nav {
    position: absolute;
    top: -1%;
    left: 0;
    right: 0;
    z-index: -1;
    display: flex;
    background-color: #c4dace;
    padding: 40px;
    min-height: 100vh;
    height: 100%;
    transform: translateY(calc(-100% - 135px));
    transition: transform 0.5s ease-out;
  }
  .nav.nav_active {
    transform: translateY(0);
  }
  .nav__list {
    flex-direction: column;
    gap: 20px;
    margin: auto;
    font-size: 20px;
  }
  .cards {
    grid-template-columns: 1fr;
  }
  .modal {
    padding: 15px;
  }
  .modal__main {
    border-radius: 10px;
    padding: 40px 10px 30px;
  }
  .modal__title {
    max-width: 100%;
  }
}

@media (max-width: 428px) {
  :root {
    --container-padding: 15px;
  }
  .section-offset {
    padding: 20px 0;
  }
  .h2 {
    font-size: 24px;
  }
  .header__logo-img {
    width: 145px;
  }
  .hero__title {
    font-size: 26px;
  }
  .choice__result {
    font-size: 16px;
  }
  .choise__btn {
    max-width: 100%;
    width: 100%;
    padding: 15px 0;
  }
  .about {
    padding: 40px 0 20px;
  }
  .category {
    padding: 20px 0 40px;
  }
  .faq__item {
    padding: 14px 15px;
  }
  .faq__item-title::after {
    width: 12px;
    height: 6px;
  }
  .category__lists {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .category__enum > * + * {
    margin-top: 6px;
  }
  .category__title {
    margin-bottom: 6px;
    font-size: 16px;
  }
  .modal__main {
    padding-left: 0;
    padding-right: 0;
  }
  .modal__title {
    padding: 0 15px;
    font-size: 18px;
    text-align: center;
  }
  .info-table {
    font-size: 14px;
  }
}
